:root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: 'Boogaloo', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #fe4f2d;
  background-color: #fdfbee;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.8em;
  line-height: 1.1;
}
h2 {
  font-size: 2.5rem;
  color: #57b4ba;
}
h3 {
  color: #fe4f2d;
}
button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #fe4f2d;
  background-color: #015551;
}
